.button {
  background-color: #f8df1f;
  color: #050500;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}
.nav-items {
  color: #050500;
  margin: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 500;
  font-size: 18px;
}
.heading {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
body {
  color: #050500;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
h2 .lowercase {
  text-transform: lowercase;
}
.btn-primary {
  background-color: #f8df1f;
  color: #050500;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}
.btn-primary:hover {
  background-color: #080801;
  color: #f8df1f;
}
.red {
  color: #ee252f !important;
  text-transform: uppercase;
}
nav {
  height: 100px;
  background-color: #f8df1f;
}
nav a {
  color: #050500;
  margin: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 500;
  font-size: 18px;
}
nav a:hover {
  color: #ee252f;
}
footer {
  height: 150px;
  background-color: #080801;
  padding: 25px;
  border-top: 10px solid #f8df1f;
}
footer .footer-logo {
  height: 100%;
}
article {
  padding: 60px 0;
}
article .side-image {
  text-align: center;
}
.bg-gray {
  background-color: #f3f3f3;
}
