.button {
  background-color: #f8df1f;
  color: #080801;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}
.nav-items {
  color: #080801;
  margin: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 500;
}
.btn-primary {
  background-color: #f8df1f;
  color: #080801;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}
.btn-primary:hover {
  background-color: #080801;
  color: #f8df1f;
}
.red {
  color: #ee252f !important;
  text-transform: uppercase;
}
nav {
  height: 100px;
  background-color: #f8df1f;
  color: #080801;
}
nav a {
  color: #080801;
  margin: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 500;
}
nav a:hover {
  color: #ee252f;
}
footer {
  height: 150px;
  background-color: #080801;
  padding: 25px;
  border-top: 10px solid #f8df1f;
}
footer .footer-logo {
  height: 100%;
}
