@import "mixins";

//Global 
body {
    color: @text-black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    .heading();

    .lowercase {
        text-transform: lowercase;
    }
}

.btn-primary {
    .button();

    &:hover {
        background-color: @black;
        color: @yellow;
    }
}

.red {
    color: @red !important;
    text-transform: @uppercase;
}

//Nav & Footer 
nav {
    height: @nav-height;
    background-color: @yellow;

    a {
        .nav-items();
        &:hover {
            color: @red;
        }
    }

    @media (max-width: 767px) {
        a {
            margin: 0;
            font-size: @font-size-14;
        }

        .nav-link {
            padding: .6rem;
        }
    }
}

footer {
    height: @footer-height;
    background-color: @black;
    padding: @pad-30;
    border-top: 10px solid @yellow;
    .footer-logo {
        height: 100%;
    }
}

//Jumbotron
.jumbotron {
    margin-bottom: 0;
    /* mimic overlay with gradient */
    background: linear-gradient(
        rgba(59, 56, 56, 0.33),
        rgba(59, 56, 56, 0.33)
    ),
    url(../img/banner-bg.png);
    background-repeat: no-repeat;
    height: 390px;
    background-size: cover;
    background-position: 0% 58%;
    border-radius: 0;

    img {
        width: 30%;
    }

    @media (max-width: 1024px) {
        background-position: @center;
        img {
            width: 50%;
        }
    }

    @media (max-width: 767px) {
        height: 300px;
    }

    @media (max-width: 550px) {
        img {
            width: 80%;
        }
    }
}

//Articles
article {
    padding: @pad-60 0;
    
    .side-image {
        text-align: @center;
    }

    @media (max-width: 767px) {
        .side-image {
            display: none;
        }

        padding: @pad-30 0;
    }
}

.bg-gray {
    background-color: @gray;
}



