@import "mixins";

//Global 
body {
    color: @text-black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    .heading();

    .lowercase {
        text-transform: lowercase;
    }
}

.btn-primary {
    .button();

    &:hover {
        background-color: @black;
        color: @yellow;
    }
}

.red {
    color: @red !important;
    text-transform: @uppercase;
}

//Nav & Footer 
nav {
    height: @nav-height;
    background-color: @yellow;

    a {
        .nav-items();
        &:hover {
            color: @red;
        }
    }
}

footer {
    height: @footer-height;
    background-color: @black;
    padding: @pad-25;
    border-top: 10px solid @yellow;
    .footer-logo {
        height: 100%;
    }
}

//Jumbotron
.jumbotron {
    margin-bottom: 0;

    img {
        width: 30%;
    }
}

//Articles
article {
    padding: @pad-60 0;
    
    .side-image {
        text-align: @center;
    }
}

.bg-gray {
    background-color: @gray;
}



