@import "variables";

.button {
    background-color: @yellow;
    color: @black;
    text-transform: @uppercase;
    margin-top: @margin-15;
    font-size: @font-size-18;
    font-weight: @medium;
    border-radius: 8px;
    border: none;
}

.nav-items {
    color: @black;
    margin: @margin-15;
    height: fit-content;
    font-weight: @medium;
}