//Colors
@light-gray: #F3F3F3;
@yellow: #F8DF1F;
@red: #EE252F;
@black: #080801;
@text-black: #050500;

//Margins
@margin-15: 15px;

//Paddings
@pad-25: 25px;

//Text Styles & Fonts
@uppercase: uppercase;

@font-size-18: 18px;
@font-size-16: 16px;
@font-size-30: 30px;

@medium: 500;
@regular: 400; 

//Height
@nav-height: 100px;
@footer-height: 150px;